<div class="row mt-3 mb-3">
  <div class="h2 col-8">User Details</div>
  <div class="col-4">
    <%= link_to refresh_stocks_path(user: @user), class: 'fa-2x refresh-button', method: :patch do %>
      <%= fa_icon 'refresh' %>
    <% end %>
  </div>
</div>

<div class="card card-header results-block">
  <table class="col-md-12">
    <tbody>
      <tr>
        <td><strong>Name: </strong> <%= @user.full_name %></td>
        <td><strong>Email: </strong> <%= @user.email %></td>
        <td>

          <% if current_user.not_friends_with?(@user.id) %>
            <%= link_to 'Follow friend?', friendships_path(friend: @user), class: "btn btn-sm btn-success", method: :post %>
          <% else %>
            <span class="badge badge-secondary">
              You are friends
            </span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<% if @tracked_stocks.empty? %>
  <p class='lead'>This user is not tracking any stocks</p>
<% else %>
  <%= render 'stocks/list' %>
<% end %>
